nav
    ul
        li
            a.menuitem(href="#") Home
            a.menuitem(href="#") About
            a.menuitem(href="#") Services
            a.menuitem(href="#") Portfolio
            a.menuitem(href="#") Information
            a.menuitem(href="#") Contact