block variables
- let pageTitle = 'Головна сторінка';
- let pageDescr = 'Опис головної сторінки';
- let pageLang = 'UA';
- let OpenGraph = false;
- let pageUrl = '';
- let OGImg = '';

doctype html
html(lang=pageLang)
    include pug/components/head.pug
    body 
        include pug/components/header.pug
        main
            include pug/components/hero.pug
        include pug/components/footer.pug